<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageManagement>
		<add key="format" value="1" />
		<add key="disabled" value="False" />
	</packageManagement>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="MNPLab" value="https://nuget.pkg.github.com/MNPLab/index.json" />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
  <packageSourceCredentials>
    <MNPLab>
        <add key="Username" value="MNPLab" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfiE7YoFIV0O8UfQM4F931AAAAAACAAAAAAAQZgAAAAEAACAAAADzIewHzO59HsxHV/rz8yGOWmq3LzrHjwbQIjZXI++ubQAAAAAOgAAAAAIAACAAAADBoihSLwZmV7Y6+iCyIJnArNMZEloDZ+4lkqiDMDPlPjAAAADhgyX2jLIMh063FfnO/ijjlJjZwdiTv12btFm7XiL4tZQUuxbi6kNS3T23twJbAGtAAAAAOIw+48D1OMML4XNPfOAPY5aDcJ3zdRwkbtClYfaq5O05JMx1E3rj9CfRNe/awn4hzp6qTY5EZU96seGq8jsbWg==" />
      </MNPLab>
  </packageSourceCredentials>
</configuration>
